@{
    ViewBag.Title = "Create";
}

@model MvcApplication4.Models.personneModels

<h2>Create</h2>

@using (Html.BeginForm("Create", "Personne", method :FormMethod.Post))
{

 @Html.LabelFor(m => m.FirstName)
@Html.EditorFor(m => m.FirstName, new {@id="FirstName" })
@Html.ValidationMessageFor(m => m.FirstName, "", new  {@class="text-danger" })
<br />
@Html.LabelFor(m => m.LastName)
@Html.EditorFor(m => m.LastName, new {@id="LastName" })
@Html.ValidationMessageFor(m => m.LastName, "", new  {@class="text-danger" })
<br />
@Html.LabelFor(m => m.id)
@Html.EditorFor(m => m.id, new {@id="id" })
@Html.ValidationMessageFor(m => m.id, "", new  {@class="text-danger" })
    <br />
 <input type="submit" value="Enregistrer" />
    
}

